body{
  height: 100vh;
  overflow-x: hidden;
}
#root{
  width: 100%;
  height: 100%;
}

.wrapper-all {
  position: relative;
  height: 100%;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Arial", sans-serif;
}

table, table th, td, tr {
  border-width: 2px;
} */
/* body {
  display: flex;align-items: center;width: 100%;justify-content: center;
  height: 100vh;
}
form {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  padding: 40px 0px;
  max-width: 350px;
  display: flex;flex-direction: column;align-items: center;justify-content: center;
  box-shadow: 0px 0px 30px rgba(0,0,0,.1);
} */
input {
  width: 60%;
  border: 1px solid rgb(177, 177, 177);
  outline: none;
  margin: 10px 0px;
  position: relative;
  padding: 5px 10px;
}
input:focus {
  border: 1px solid red;
}
label {
  display: flex;align-items: center;
  margin: 20px 10px;
  cursor: pointer;
}
label img {
  margin-right: 5px;
}
#poster {
  display: none;
}
#video {
  display: none;
}

textarea {
  min-width: 80%;
  max-width: 80%;
  height: 200px;
  outline: none;
  border: 1px solid rgb(177, 177, 177);
  padding: 10px;
  max-height: 300px;
}
textarea:focus {
  border: 1px solid red;
}
.inputs {
  display:flex
}
/* button {
  width: 100px;
  padding: 8px;
  outline: none;
  border: none;
  background: red;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 100px;
  transition: 300ms;
  margin-top: 10px;
} */
/* button:hover {
  box-shadow: 0px 0px 20px red;
} */

table{
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

th, td{
  border-width: 2px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
a{
  text-decoration: none;
}

a:hover{
  color: inherit;
}

.btn-my-courses{
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 700;
  border-radius: 15px;
  height: 40px;
  text-transform: uppercase;
}
.container_video {
  display: flex;flex-direction: column;align-items: center;
  /* height: 480px; */
  z-index: 10;
  width: 60%;
}

.video-player{
  margin: 0 auto;
  width:  100%;
  border-radius: 5px;
}
.menu {
  width:0%;
  height:100vh;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  background-color: rgb(240, 240, 240);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-duration: 1s;  
  transition-delay: 400ms;
  display: flex;flex-direction: column;align-items: center; 
}
.menu_toggle {
  width:350px;
  padding: 50px 10px;
  transition-delay: 0s;
}
.menu_logo {
  transform: translateX(-120%);
  transition-delay: 200ms;
  opacity: 0;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.menu_logo_toggle {
  transform: translateX(0%);
  transition-delay: 600ms;
  opacity: 1;
}

.menu_logo img {
  width: 200px;
  min-width: 250px;
}
nav {
  width:100%;
  height: 11vh;
  z-index: 200 !important;
  max-height: 100px;
  background: white;
  margin: 0px 0px 10px 0px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.1);
}
.nav_container {
  display: flex;align-items: center;justify-content: space-between;
  height: 100%;
  width: 90% !important;
}
.menu_btn {
  display: flex;flex-direction: column;align-items: end;
  cursor: pointer;
  opacity: .9;
}
.menu_line {
  width: 35px;
  height: 4px;
  background: black;
  margin: 3px 0px;
  border-radius: 10px;
  transition: 300ms;
}
.menu_line:nth-child(1){
  width: 25px;
}
.menu_line:nth-child(3) {
  width: 20px;
}
.menu_btn:hover * {
  width: 35px !important;
}
.logo {
  display: flex;align-items: center;
}
.logo img {
  height: 40px;
}
/* video {
  width: 100% !important;

} */
h1 {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  margin-top: 17px;
}
/* p {
  width: 100%;
  opacity: .9;
  font-weight: 500;
  margin-top: 7px;
} */
@media(max-width:800px){
  h1 {
      font-size: 30px;
  }
  p {
      font-size: 15px;
  }
}
@media(max-width:400px){
  h1 {
      font-size: 25px;
      margin-top: 7px;
  }
  p {
      font-size: 13px;
      margin-top: 3px;
  }
}
.text-bold{
  font-weight: bold;
  width: 60%;
  display: block;
  margin: 0;
  text-align: start;
  margin: 0 auto 10px;
}

.boxes-card{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation h3 {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.video_buttons a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #2D91FC;
  width: 150px;
  justify-content: center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  transition: 300ms;
  margin: 20px auto 30px auto;
}

.video_buttons a:hover {
  box-shadow: 0px 0px 30px #2d91fc;
  transform: translateX(5px);
}

.kesha {
  width: 300px;
  margin: 40px 0px 20px 0px;
}

.kesha h5 {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.kesha p {
  font-size: 1rem;
  font-weight: 500;
  margin: 10px 0px 0px 0px;
}

.kesha img {
  width: 55px;
  height: 55px;
  margin-right: 10px;
  border-radius: 50%;
}

.table-node{
  min-width: 40px;
}

.china {
  float:left;
  width: 100%;
  height: 100vh;
}
.china_logo_img {
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  z-index: -1;
}
.china_logo_img img {
  object-fit: cover;
  width:100%;
  height: 100%;
}
.china_logo_text {
  float:left;
  width:100%;
  padding:20px 50px;

}
.img_block_logo {
  float:left;
  width:300px;
} 
.img_block_logo img {
  object-fit: cover;
  width:100%;
  height:100%;
}
.china_logo_text a {
  text-decoration:none;
  color:white;
  font-size:50px;
}
.china_vacation_txt {
  float:left;
  width:50%;
  margin-top:80px;
  padding:50px;
  color:red;
}
.china_h1 {
  float:left;
  width:100%;
}
.china_h1 h1 {
  color:rgb(244, 241, 241);
  font-weight: 700;
  text-shadow: 6px 0px 5px #504e4e;
  float:left;
  padding:20px 0;
  font-size:40px;
}
.china_p {
  float:left;
  width:100%;
}
.china_p p {
  float:left;
  font-size:30px;
  padding:0p;
  margin:0;
  color:white;
  text-shadow: 6px 0px 5px #504e4e;
}
.china_button {
  float:left;
  width:100%;
  padding:30px 50px;
}
.china_button button {
  float:left;
  background-color:#E0120E;
  outline:none;
  color:rgb(255, 248, 248);
  border-radius: 40px;
  font-size:19px;
  padding:16px 20px;
  border:0;
  font-family: 'PT Serif', sans-serif;
  font-weight:700;
  cursor:pointer;
  box-shadow:
  12.4px 10.3px 122.3px rgba(0, 0, 0, -0.009),
  27.5px 22.7px 121.6px rgba(0, 0, 0, -0.012),
  49.3px 40.8px 118px rgba(0, 0, 0, 0.011),
  58px 48px 138px rgba(0, 0, 0, 0.09);
  transition:0.4s;
}
.china_button button:hover {
  color:rgb(252, 252, 252);
  background-color:rgb(75, 73, 73);
  opacity: 0.9;
}
.city_name {
  float:left;
  width:100%;
  padding:30px;
}
.city_h1 {
  float:left;
  /* width:100%; */
}
.city_h1 h1 {
  float:left;
  font-size:25px;
  padding:16px 30px;
  background-color:#E0120E;
  border:0;
  border-radius: 40px;
  color:rgb(255, 255, 255);
}
.flip_book {
  float:left;
  width:100%;
  margin:0;
  padding:0px 0 ;
}
.flip_book_element {
  float:left;
  width:200px;
  padding:10px;
  margin:1% 2%;
  color:rgb(0, 0, 0);
  background-color:none;
}
.flip_book_element_2 {
  float:left;
  width:100%;
  padding:0px;
  margin:1% 0%;
  color:rgb(0, 0, 0);
  background-color:none;
}
.flip_book_img {
  float:left;
  width: 100%;
  padding:0px;
  height:174px;
}
.flip_book_img img {
  object-fit: cover;
  border-radius:50%; 
  width:100%;
  height:100%;
}
.flip_book_img_2 {
  float:left;
  width: 100%;
  height: 180px;
}
.flip_book_img_2 img {
  object-fit: cover;
  border-radius:0%;
  width:100%;
  height:100%;
}
.flip_book_design {
  float:left;
  width: 100%;
  color:black;
  padding:20px 0 0 0 ;
  text-align: center;
}
.flip_book_design_2 {
  float:left;
  width: 100%;
  padding:20px 0 0 0 ;
  text-align: center;
}
.flip_book_design a {
  font-size:25px;
  color:rgb(255, 255, 255);
}
.accordion {
  float:left;
  width:100%;
  /*background-color: rgba(0,0,0,0.1);*/
}
.accordion_mini {
  float:left;
  text-align: center;
  width:100%;
  padding:4px 30px;
  background-color: #49af75;
}
.accordion_mini h1 {
  color:rgb(255, 255, 255);
}
.accordion_mini2 {
  float:left;
  width:23%;
  margin:0 1%;
  padding:40px 0;
  background-color: rgb(248, 248, 248);
  display: block;
  background-color:inherit;
  border-radius: 7px;
  text-align: center;
  transition: 0.2s;
}
.accordion_mini2 a {
  text-decoration: none;
  color:rgb(8, 8, 8);
  font-size:19px;
}
.display {
  display: block;
}
.footer_button {
  display: flex;
  justify-content: center;
  transition: 300ms;
  align-items: center;
}
.footer_button:hover {
  background: rgb(255, 15, 15);
  transform: rotate(.7deg)scale(.95);
  box-shadow: 0px 0px  20px rgba(255, 0, 0, 0.8);
}
.footer_button * {
  color: white;
}
.footer_button .button_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer_button .button_text {
  font-size: 30px;
}
.footer_button .button_text .button_text_p {
  opacity: .7;
  margin-top: 2px;
  font-weight: 500;
  font-size: 20px;
}
footer {
  float:left;
  width: 100%;
  margin-top: 30px;
  background: linear-gradient(to right bottom, #000,#111);
}
footer .footer_container {
  width: 100%;
  height: 100%;
  display: flex;align-items: center;flex-direction: column;
  padding: 40px 10px;
}
footer .footer_container img {
  width: 230px;
  margin: 0px 0px 10px 0px;
}
footer p {
  color: white;
  margin: 10px 0px;
  width: 80%;
  font-size: 15px;
  opacity: .9;
  font-weight: 400;
}
@media screen and (max-width:1136px) {
  .china_vacation_txt {
      float:left;
      width:60%;
      margin-top:40px;
      padding:40px;
      color:red;
  }
}
@media screen and (max-width:1024px) {
  .china_vacation_txt {
      float:left;
      width:60%;
      margin-top:20px;
      padding:0 40px;
      color:red;
  }
  .china_h1 h1 {
      color:rgb(244, 241, 241);
      font-weight: 700;
      text-shadow: 6px 0px 5px #504e4e;
      float:left;
      padding:19px 0;
      font-size:27px;
  }
  .china_p p {
      float:left;
      font-size:24px;
      padding:0p;
      margin:0;
      color:white;
      text-shadow: 6px 0px 5px #504e4e;
  }
}
@media screen and (max-width:976px) {
  .china_vacation_txt {
      float:left;
      width:60%;
      margin-top:40px;
      padding:40px;
      color:red;
  }
  .city_h1 h1 {
      font-size: 15px;
      padding:14px 28px;
  }
  .china_h1 h1 {
      color:rgb(244, 241, 241);
      font-weight: 700;
      text-shadow: 6px 0px 5px #504e4e;
      float:left;
      padding:20px 0;
      font-size:30px;
  }
  .china_p p {
      float:left;
      font-size:25px;
      padding:0p;
      margin:0;
      color:white;
      text-shadow: 6px 0px 5px #504e4e;
  }
  .china_button {
      float:left;
      width:100%;
      padding:30px 20px;
  }
  .china_button button {
      float:left;
      background-color:#E0120E;
      outline:none;
      color:rgb(255, 248, 248);
      border-radius: 40px;
      font-size:15px;
      padding:14px 16px;
      border:0;
      font-family: 'PT Serif', sans-serif;
      font-weight:700;
      cursor:pointer;
      box-shadow:
      12.4px 10.3px 122.3px rgba(0, 0, 0, -0.009),
      27.5px 22.7px 121.6px rgba(0, 0, 0, -0.012),
      49.3px 40.8px 118px rgba(0, 0, 0, 0.011),
      58px 48px 138px rgba(0, 0, 0, 0.09);
      transition:0.4s;
  }
}
@media screen and (max-width:876px) {
  .accordion_mini2 {
      float:left;
      width:48%;
      margin:0 1%;
      padding:40px 0;
      background-color: rgb(248, 248, 248);
      display: block;
      background-color:inherit;
      border-radius: 7px;
      text-align: center;
      transition: 0.2s;
  }
  .flip_book_design_2 {
      height:70px;
  }
}
@media screen and (max-width:642px) {
  .china_vacation_txt {
      width:90%;
  }
  .china_h1 h1 {
      color:rgb(244, 241, 241);
      font-weight: 700;
      text-shadow: 6px 0px 5px #504e4e;
      float:left;
      padding:15px 0;
      font-size:30px;
  }
  .china_p p {
      float:left;
      font-size:25px;
      padding:0p;
      margin:0;
      color:white;
      text-shadow: 6px 0px 5px #504e4e;
  }
}
@media screen and (max-width:538px) {
  .accordion_mini2 {
      float:left;
      width:100%;
      margin:0 0%;
      padding:40px 0;
      background-color: rgb(248, 248, 248);
      display: block;
      background-color:inherit;
      border-radius: 7px;
      text-align: center;
      transition: 0.2s;
  }
  .flip_book_design_2 {
      height:70px;
  }
}
@media screen and (max-width:394px) {
  .china_vacation_txt {
      width:100%;
      padding:0 5px;
  }
}
@media screen and (max-width:380px) {
  .china_logo_text {
      padding: 12px 39px;
  }
}
@media screen and (max-width:344px) {
  .china_logo_text {
      margin:0;
      padding: 12px 5px;
  }
  .img_block_logo {
      width:200px;
  }
}
@media screen and (max-width:768px) {
  .container_video {
    width: 95%;
  }
}
@media screen and (max-width:280px) {
  .china_logo_text {
      margin:0;
      padding: 12px 5px;
  }
  .accordion_mini h1 {
      color:rgb(255, 255, 255);
      font-size:28px;
  }
  .china_h1 h1 {
      color:rgb(244, 241, 241);
      font-weight: 700;
      text-shadow: 6px 0px 5px #504e4e;
      float:left;
      padding:15px 0;
      font-size:27px;
  }
  .china_p p {
      float:left;
      font-size:23px;
      padding:0p;
      margin:0;
      color:white;
      text-shadow: 6px 0px 5px #504e4e;
  }
}

.rh5v-Volume_icon {
  padding: 0px !important;
}

.rh5v-Fullscreen_icon {
  padding: 0px !important;
}

.rh5v-PlayPause_icon {
  padding: 0px !important;
}